{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
<div class="container">



    <div class="row">



      <div class="col col-8">

        <p id="date_time" style="text-align: right; font-size: 12px; color: #999999; margin-top: 4px;">12:40 am, 12
          Dec</p>

      </div>




      <div class="col col-2 col-md-2">

        <p style="text-align: right;"><a href="#" style="font-size: 12px;">Register</a></p>

      </div>




      <div class="col col-2 col-md-2">

        <p><a href="#" style="font-size: 12px;">Login</a></p>

      </div>


    </div>




    <div id="innerNav" class="row">



      <div class="col col-12 col-md-4">




        <a href="/en/">







          <img
            src="/media/filer_public_thumbnails/filer_public/4a/c0/4ac0d00a-b375-430b-8784-ff6318201a04/tm-logo-2016-594x116-v1.png__200x50_q85_subsampling-2.png"
            alt="" width="200" height="50" class>






        </a>





      </div>




      <div class="col d-flex align-items-center">

        <div class="dropdown show"><a href="##" aria-expanded="false" aria-haspopup="true" class="btn dropdown-toggle"
            data-toggle="dropdown" id="dropdownMenuLink" role="button">Browse</a>
          <div class="dropdown-menu border" aria-labelledby="dropdownMenuLink"><a href="##"
              class="btn-sm dropdown-item">View Category Directory<i class="" aria-hidden="true"></i></a>
          </div>
        </div>

      </div>




      <div class="col d-flex align-items-center">

        <div class="dropdown show"><a href="##" aria-expanded="false" aria-haspopup="true" class="btn dropdown-toggle"
            data-toggle="dropdown" id="dropdownMenuLink" role="button">Community</a>
          <div class="dropdown-menu border" aria-labelledby="dropdownMenuLink"><a href="##"
              class="btn-sm dropdown-item">View Category Directory<i class="" aria-hidden="true"></i></a>
          </div>
        </div>

      </div>




      <div class="col d-flex align-items-center">

        <div class="dropdown show"><a href="##" aria-expanded="false" aria-haspopup="true" class="btn dropdown-toggle"
            data-toggle="dropdown" id="dropdownMenuLink" role="button">List an
            item</a>
          <div class="dropdown-menu border" aria-labelledby="dropdownMenuLink"><a href="##"
              class="btn-sm dropdown-item">View Category Directory<i class="" aria-hidden="true"></i></a>
          </div>
        </div>

      </div>




      <div class="col d-flex align-items-center">

        <div class="dropdown show"><a href="##" aria-expanded="false" aria-haspopup="true" class="btn dropdown-toggle"
            data-toggle="dropdown" id="dropdownMenuLink" role="button">My Trade
            Me</a>
          <div class="dropdown-menu border" aria-labelledby="dropdownMenuLink"><a href="##"
              class="btn-sm dropdown-item">View Category Directory<i class="" aria-hidden="true"></i></a>
          </div>
        </div>

      </div>


    </div>




    <div class="row">



      <div class="col col-12 col-md-8">

      </div>


    </div>




    <div class="row">



      <div style="background:#FBCC48;margin:15px;" class="col">



        <div style="margin-top:5px" class="row">



          <div class="col col-12 col-md-6">

            <div height="100px">
              <div class="dropdown show d-inline"><a href="##" aria-expanded="false" aria-haspopup="true"
                  class="btn dropdown-toggle" data-toggle="dropdown" id="dropdownMenuLink" role="button">Browse</a>
                <div class="dropdown-menu border" aria-labelledby="dropdownMenuLink"><a href="##"
                    class="btn-sm dropdown-item">View Category Directory<i class="" aria-hidden="true"></i></a></div>
              </div>
            </div>

          </div>




          <div class="col">

            <div class="container favourite"></div>

            <div class="dropdown show d-inline"><a href="##" aria-expanded="false" aria-haspopup="true"
                class="btn dropdown-toggle" data-toggle="dropdown" id="dropdownMenuLink" role="button">Favourites</a>
              <div class="dropdown-menu border" aria-labelledby="dropdownMenuLink"><a href="##"
                  class="btn-sm dropdown-item">View Category Directory<i class="" aria-hidden="true"></i></a></div>
            </div>

          </div>




          <div class="col">

            <div class="dropdown show d-inline"><a href="##" aria-expanded="false" aria-haspopup="true"
                class="btn dropdown-toggle" data-toggle="dropdown" id="dropdownMenuLink" role="button">Watchlist</a>
              <div class="dropdown-menu border" aria-labelledby="dropdownMenuLink"><a href="##"
                  class="btn-sm dropdown-item">View Category Directory<i class="" aria-hidden="true"></i></a></div>
            </div>

          </div>




          <div class="col">

            <div class="dropdown show d-inline"><a href="##" aria-expanded="false" aria-haspopup="true"
                class="btn dropdown-toggle" data-toggle="dropdown" id="dropdownMenuLink" role="button">Cart</a>
              <div class="dropdown-menu border" aria-labelledby="dropdownMenuLink"><a href="##"
                  class="btn-sm dropdown-item">View Category Directory<i class="" aria-hidden="true"></i></a></div>
            </div>

          </div>


        </div>


      </div>


    </div>




    <div class="row">



      <div sty class="col col-6 col-md-3">

        <a href="#&quot;#&quot;" style="width:100%;margin-top:15px" class="btn btn-danger">Marketplace</a>

      </div>




      <div class="col col-6 col-md-3">

        <a href="#&quot;#&quot;" style="width:100%;margin-top:15px" class="btn btn-danger btnr">Jobs</a>

      </div>




      <div class="col col-6 col-md-3">

        <a href="#&quot;#&quot;" style="width:100%;margin-top:15px" class="btn btn-secondary">Motor</a>

      </div>




      <div class="col col-6 col-md-3">

        <a href="#&quot;#&quot;" style="width:100%;margin-top:15px" class="btn btn-success">Property</a>

      </div>


    </div>




    <div style="margin-top:1rem" class="row justify-content-center">



      <div class="col col-6 col-md-3 main-box-categories">



        <div class="list-group">



          <div class="list-group-item border-0">

            <a href="/en/antiques-collectables/" class="text-link btn-sm">Antiques &amp; collectables</a>

          </div>




          <div class="list-group-item border-0">

            <a href="##" class="text-link btn-sm">c</a>

          </div>




          <div class="list-group-item border-0">

            <a href="##" class="text-link btn-sm">Books</a>

          </div>




          <div class="list-group-item border-0">

            <a href="##" class="text-link btn-sm">Building &amp; renovation</a>

          </div>


        </div>


      </div>




      <div class="col col-6 col-md-3 main-box-categories">



        <div class="list-group">



          <div class="list-group-item border-0">

            <a href="##" class="text-link btn-sm">Antiques &amp; collectables</a>

          </div>




          <div class="list-group-item border-0">

            <a href="##" class="text-link btn-sm">c</a>

          </div>




          <div class="list-group-item border-0">

            <a href="##" class="text-link btn-sm">Books</a>

          </div>




          <div class="list-group-item border-0">

            <a href="##" class="text-link btn-sm">Building &amp; renovation</a>

          </div>


        </div>


      </div>




      <div class="col col-6 col-md-3 main-box-categories">



        <div class="list-group">



          <div class="list-group-item border-0">

            <a href="##" class="text-link btn-sm">Antiques &amp; collectables</a>

          </div>




          <div class="list-group-item border-0">

            <a href="##" class="text-link btn-sm">c</a>

          </div>




          <div class="list-group-item border-0">

            <a href="##" class="text-link btn-sm">Books</a>

          </div>




          <div class="list-group-item border-0">

            <a href="##" class="text-link btn-sm">Building &amp; renovation</a>

          </div>


        </div>


      </div>




      <div class="col col-6 col-md-3 main-box-categories">



        <div class="list-group">



          <div class="list-group-item border-0">

            <a href="##" class="text-link btn-sm">Antiques &amp; collectables</a>

          </div>




          <div class="list-group-item border-0">

            <a href="##" class="text-link btn-sm">c</a>

          </div>




          <div class="list-group-item border-0">

            <a href="##" class="text-link btn-sm">Books</a>

          </div>




          <div class="list-group-item border-0">

            <a href="##" class="text-link btn-sm">Building &amp; renovation</a>

          </div>


        </div>


      </div>


    </div>


  </div>
{% placeholder "content" or %}

{%endplaceholder%}
{% endblock content %}